# IDE Specific
############################
.idea
*.iml
.project
.buildpath
/.settings
*.sublime-project
*.sublime-workspace
*.sublime-projectcompletions
*.user
*.suo
*.vspscc
*.vscc
_vti_cnf
_notes

# General Cache
############################
.sass-cache

# OS Generated
############################
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*.swp

# node.js
############################
npm-debug.log
/node_modules

# Other
############################
*.seed
*.log
*.dat
*.out
*.pid